<header class="site-header">
    <div class="site-identity">
        <a href="#"><img src="https://via.placeholder.com/200" alt="TP2 : Marketplace" /></a>
        <h1><a href="#">TP2 : Marketplace</a></h1>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li><a href="#">Categories</a></li>
            <li><a href="#">Nouveautés</a></li>
            <li><a href="#">Contactez-nous</a></li>
            <li><a href="#" routerLink="/cart">
                Panier <span class="badge" [ngClass]="{ 'badge-green': cartItems.length > 0, 'badge-yellow': cartItems.length === 0 }">{{ cartItems.length }}</span>
            </a></li>
        </ul>
    </nav>
</header>
